[Unit]
Description=ClusterCTRL init
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/clusterctrl init
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
