# 8086 Consultancy
# https://www.8086.net/

# ClusterCTRL node Ethernet Devices
# SD boot node
SUBSYSTEM=="net", ENV{ID_VENDOR_ID}=="3171", ENV{ID_MODEL_ID}=="0020", ENV{ID_MODEL}=="ClusterCTRL", ENV{ID_NET_NAME_MAC}=="*002282fffe??", NAME="ethpi%E{ID_SERIAL_SHORT}", DRIVERS=="?*"
# usbboot node
SUBSYSTEM=="net", ENV{ID_VENDOR_ID}=="3171", ENV{ID_MODEL_ID}=="0020", ENV{ID_MODEL}=="ClusterCTRL-usbboot", ENV{ID_NET_NAME_MAC}=="*002282fffe??", NAME="ethupi%E{ID_SERIAL_SHORT}", DRIVERS=="?*"

# ClusterCTRL node TTY
# ttyGS0 (serial console)
SUBSYSTEM=="tty", ATTRS{idVendor}=="3171", ATTRS{idProduct}=="0020", ENV{ID_USB_INTERFACE_NUM}=="02", SYMLINK+="ttypi%E{ID_SERIAL_SHORT}"
# ttyGS1 (admin port)
SUBSYSTEM=="tty", ATTRS{idVendor}=="3171", ATTRS{idProduct}=="0020", ENV{ID_USB_INTERFACE_NUM}=="04", SYMLINK+="ttypi%E{ID_SERIAL_SHORT}a"

# Rules to load the correct kernel module for Cluster CTRL devices
# and add a link to /dev/ClusterCTRL-X to /dev/i2c-X for simple enumeration
ACTION=="add", ATTRS{idVendor}=="3171", ATTRS{idProduct}=="001?", RUN+="/sbin/modprobe i2c_tiny_usb" RUN+="/bin/bash -c 'echo 0x3171 0x$$ID_MODEL_ID >> /sys/bus/usb/drivers/i2c-tiny-usb/new_id'"
ACTION=="add", ATTRS{idVendor}=="3171", ATTRS{idProduct}=="001?", SUBSYSTEM=="i2c-dev", SYMLINK+="ClusterCTRL-%n"
