# 8086 Consultancy
# ClusterHAT Pi Zero Ethernet Devices
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:00", NAME="ethpi0"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:01", NAME="ethpi1"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:02", NAME="ethpi2"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:03", NAME="ethpi3"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:04", NAME="ethpi4"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:05", NAME="ethpi5"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:06", NAME="ethpi6"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:07", NAME="ethpi7"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:08", NAME="ethpi8"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:09", NAME="ethpi9"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:0a", NAME="ethpi10"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:0b", NAME="ethpi11"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:0c", NAME="ethpi12"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:0d", NAME="ethpi13"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:0e", NAME="ethpi14"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:0f", NAME="ethpi15"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:10", NAME="ethpi16"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:11", NAME="ethpi17"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:12", NAME="ethpi18"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:13", NAME="ethpi19"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:14", NAME="ethpi20"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:15", NAME="ethpi21"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:16", NAME="ethpi22"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:17", NAME="ethpi23"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:18", NAME="ethpi24"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:19", NAME="ethpi25"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:1a", NAME="ethpi26"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:1b", NAME="ethpi27"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:1c", NAME="ethpi28"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:1d", NAME="ethpi29"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:1e", NAME="ethpi30"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:1f", NAME="ethpi31"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:20", NAME="ethpi32"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:21", NAME="ethpi33"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:22", NAME="ethpi34"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:23", NAME="ethpi35"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:24", NAME="ethpi36"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:25", NAME="ethpi37"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:26", NAME="ethpi38"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:27", NAME="ethpi39"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:28", NAME="ethpi40"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:29", NAME="ethpi41"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:2a", NAME="ethpi42"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:2b", NAME="ethpi43"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:2c", NAME="ethpi44"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:2d", NAME="ethpi45"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:2e", NAME="ethpi46"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:2f", NAME="ethpi47"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:30", NAME="ethpi48"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:31", NAME="ethpi49"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:32", NAME="ethpi50"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:33", NAME="ethpi51"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:34", NAME="ethpi52"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:35", NAME="ethpi53"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:36", NAME="ethpi54"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:37", NAME="ethpi55"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:38", NAME="ethpi56"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:39", NAME="ethpi57"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:3a", NAME="ethpi58"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:3b", NAME="ethpi59"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:3c", NAME="ethpi60"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:3d", NAME="ethpi61"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:3e", NAME="ethpi62"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:3f", NAME="ethpi63"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:40", NAME="ethpi64"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:41", NAME="ethpi65"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:42", NAME="ethpi66"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:43", NAME="ethpi67"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:44", NAME="ethpi68"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:45", NAME="ethpi69"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:46", NAME="ethpi70"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:47", NAME="ethpi71"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:48", NAME="ethpi72"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:49", NAME="ethpi73"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:4a", NAME="ethpi74"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:4b", NAME="ethpi75"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:4c", NAME="ethpi76"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:4d", NAME="ethpi77"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:4e", NAME="ethpi78"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:4f", NAME="ethpi79"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:50", NAME="ethpi80"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:51", NAME="ethpi81"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:52", NAME="ethpi82"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:53", NAME="ethpi83"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:54", NAME="ethpi84"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:55", NAME="ethpi85"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:56", NAME="ethpi86"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:57", NAME="ethpi87"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:58", NAME="ethpi88"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:59", NAME="ethpi89"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:5a", NAME="ethpi90"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:5b", NAME="ethpi91"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:5c", NAME="ethpi92"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:5d", NAME="ethpi93"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:5e", NAME="ethpi94"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:5f", NAME="ethpi95"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:60", NAME="ethpi96"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:61", NAME="ethpi97"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:62", NAME="ethpi98"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:63", NAME="ethpi99"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:64", NAME="ethpi100"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:65", NAME="ethpi101"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:66", NAME="ethpi102"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:67", NAME="ethpi103"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:68", NAME="ethpi104"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:69", NAME="ethpi105"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:6a", NAME="ethpi106"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:6b", NAME="ethpi107"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:6c", NAME="ethpi108"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:6d", NAME="ethpi109"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:6e", NAME="ethpi110"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:6f", NAME="ethpi111"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:70", NAME="ethpi112"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:71", NAME="ethpi113"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:72", NAME="ethpi114"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:73", NAME="ethpi115"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:74", NAME="ethpi116"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:75", NAME="ethpi117"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:76", NAME="ethpi118"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:77", NAME="ethpi119"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:78", NAME="ethpi120"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:79", NAME="ethpi121"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:7a", NAME="ethpi122"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:7b", NAME="ethpi123"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:7c", NAME="ethpi124"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:7d", NAME="ethpi125"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:7e", NAME="ethpi126"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:7f", NAME="ethpi127"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:80", NAME="ethpi128"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:81", NAME="ethpi129"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:82", NAME="ethpi130"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:83", NAME="ethpi131"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:84", NAME="ethpi132"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:85", NAME="ethpi133"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:86", NAME="ethpi134"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:87", NAME="ethpi135"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:88", NAME="ethpi136"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:89", NAME="ethpi137"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:8a", NAME="ethpi138"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:8b", NAME="ethpi139"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:8c", NAME="ethpi140"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:8d", NAME="ethpi141"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:8e", NAME="ethpi142"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:8f", NAME="ethpi143"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:90", NAME="ethpi144"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:91", NAME="ethpi145"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:92", NAME="ethpi146"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:93", NAME="ethpi147"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:94", NAME="ethpi148"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:95", NAME="ethpi149"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:96", NAME="ethpi150"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:97", NAME="ethpi151"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:98", NAME="ethpi152"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:99", NAME="ethpi153"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:9a", NAME="ethpi154"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:9b", NAME="ethpi155"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:9c", NAME="ethpi156"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:9d", NAME="ethpi157"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:9e", NAME="ethpi158"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:9f", NAME="ethpi159"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:a0", NAME="ethpi160"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:a1", NAME="ethpi161"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:a2", NAME="ethpi162"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:a3", NAME="ethpi163"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:a4", NAME="ethpi164"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:a5", NAME="ethpi165"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:a6", NAME="ethpi166"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:a7", NAME="ethpi167"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:a8", NAME="ethpi168"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:a9", NAME="ethpi169"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:aa", NAME="ethpi170"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:ab", NAME="ethpi171"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:ac", NAME="ethpi172"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:ad", NAME="ethpi173"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:ae", NAME="ethpi174"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:af", NAME="ethpi175"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:b0", NAME="ethpi176"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:b1", NAME="ethpi177"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:b2", NAME="ethpi178"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:b3", NAME="ethpi179"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:b4", NAME="ethpi180"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:b5", NAME="ethpi181"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:b6", NAME="ethpi182"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:b7", NAME="ethpi183"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:b8", NAME="ethpi184"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:b9", NAME="ethpi185"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:ba", NAME="ethpi186"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:bb", NAME="ethpi187"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:bc", NAME="ethpi188"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:bd", NAME="ethpi189"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:be", NAME="ethpi190"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:bf", NAME="ethpi191"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:c0", NAME="ethpi192"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:c1", NAME="ethpi193"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:c2", NAME="ethpi194"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:c3", NAME="ethpi195"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:c4", NAME="ethpi196"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:c5", NAME="ethpi197"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:c6", NAME="ethpi198"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:c7", NAME="ethpi199"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:c8", NAME="ethpi200"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:c9", NAME="ethpi201"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:ca", NAME="ethpi202"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:cb", NAME="ethpi203"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:cc", NAME="ethpi204"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:cd", NAME="ethpi205"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:ce", NAME="ethpi206"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:cf", NAME="ethpi207"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:d0", NAME="ethpi208"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:d1", NAME="ethpi209"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:d2", NAME="ethpi210"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:d3", NAME="ethpi211"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:d4", NAME="ethpi212"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:d5", NAME="ethpi213"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:d6", NAME="ethpi214"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:d7", NAME="ethpi215"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:d8", NAME="ethpi216"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:d9", NAME="ethpi217"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:da", NAME="ethpi218"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:db", NAME="ethpi219"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:dc", NAME="ethpi220"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:dd", NAME="ethpi221"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:de", NAME="ethpi222"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:df", NAME="ethpi223"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:e0", NAME="ethpi224"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:e1", NAME="ethpi225"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:e2", NAME="ethpi226"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:e3", NAME="ethpi227"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:e4", NAME="ethpi228"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:e5", NAME="ethpi229"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:e6", NAME="ethpi230"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:e7", NAME="ethpi231"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:e8", NAME="ethpi232"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:e9", NAME="ethpi233"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:ea", NAME="ethpi234"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:eb", NAME="ethpi235"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:ec", NAME="ethpi236"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:ed", NAME="ethpi237"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:ee", NAME="ethpi238"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:ef", NAME="ethpi239"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:f0", NAME="ethpi240"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:f1", NAME="ethpi241"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:f2", NAME="ethpi242"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:f3", NAME="ethpi243"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:f4", NAME="ethpi244"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:f5", NAME="ethpi245"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:f6", NAME="ethpi246"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:f7", NAME="ethpi247"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:f8", NAME="ethpi248"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:f9", NAME="ethpi249"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:fa", NAME="ethpi250"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:fb", NAME="ethpi251"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:fc", NAME="ethpi252"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:fd", NAME="ethpi253"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:fe", NAME="ethpi254"
SUBSYSTEM=="net", ATTR{address}=="00:22:82:ff:fe:ff", NAME="ethpi255"

# ClusterHAT Pi Zero Serial Ports (top left USB port on Pi3+)
SUBSYSTEM=="tty", KERNELS=="1-1.1.2.1", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi4"
SUBSYSTEM=="tty", KERNELS=="1-1.1.2.2", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi3"
SUBSYSTEM=="tty", KERNELS=="1-1.1.2.3", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi2"
SUBSYSTEM=="tty", KERNELS=="1-1.1.2.4", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi1"
# ClusterHAT Pi Zero Serial Ports (bottom left USB port on Pi3+)
SUBSYSTEM=="tty", KERNELS=="1-1.1.3.1", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi4"
SUBSYSTEM=="tty", KERNELS=="1-1.1.3.2", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi3"
SUBSYSTEM=="tty", KERNELS=="1-1.1.3.3", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi2"
SUBSYSTEM=="tty", KERNELS=="1-1.1.3.4", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi1"
# ClusterHAT Pi Zero Serial Ports (top right USB port on Pi3+)
SUBSYSTEM=="tty", KERNELS=="1-1.3.1", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi4"
SUBSYSTEM=="tty", KERNELS=="1-1.3.2", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi3"
SUBSYSTEM=="tty", KERNELS=="1-1.3.3", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi2"
SUBSYSTEM=="tty", KERNELS=="1-1.3.4", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi1"
# ClusterHAT Pi Zero Serial Ports (bottom right USB port on Pi3+)
SUBSYSTEM=="tty", KERNELS=="1-1.2.1", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi4"
SUBSYSTEM=="tty", KERNELS=="1-1.2.2", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi3"
SUBSYSTEM=="tty", KERNELS=="1-1.2.3", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi2"
SUBSYSTEM=="tty", KERNELS=="1-1.2.4", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi1"
# ClusterHAT Pi Zero Serial Ports (top left USB port on B+/2/3)
SUBSYSTEM=="tty", KERNELS=="1-1.2.1", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi4"
SUBSYSTEM=="tty", KERNELS=="1-1.2.2", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi3"
SUBSYSTEM=="tty", KERNELS=="1-1.2.3", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi2"
SUBSYSTEM=="tty", KERNELS=="1-1.2.4", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi1"
# ClusterHAT Pi Zero Serial Ports (bottom left USB port on B+/2/3)
SUBSYSTEM=="tty", KERNELS=="1-1.3.1", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi4"
SUBSYSTEM=="tty", KERNELS=="1-1.3.2", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi3"
SUBSYSTEM=="tty", KERNELS=="1-1.3.3", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi2"
SUBSYSTEM=="tty", KERNELS=="1-1.3.4", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi1"
# CluserHAT Pi Zero Serial Ports (top right USB port on B+/2/3)
SUBSYSTEM=="tty", KERNELS=="1-1.4.1", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi4"
SUBSYSTEM=="tty", KERNELS=="1-1.4.2", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi3"
SUBSYSTEM=="tty", KERNELS=="1-1.4.3", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi2"
SUBSYSTEM=="tty", KERNELS=="1-1.4.4", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi1"
# CluserHAT Pi Zero Serial Ports (bottom right USB port on B+/2/3)
SUBSYSTEM=="tty", KERNELS=="1-1.5.1", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi4"
SUBSYSTEM=="tty", KERNELS=="1-1.5.2", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi3"
SUBSYSTEM=="tty", KERNELS=="1-1.5.3", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi2"
SUBSYSTEM=="tty", KERNELS=="1-1.5.4", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi1"
# CluserHAT Pi Zero Serial Ports (USB Port on A+)
SUBSYSTEM=="tty", KERNELS=="1-1.1", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi4"
SUBSYSTEM=="tty", KERNELS=="1-1.2", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi3"
SUBSYSTEM=="tty", KERNELS=="1-1.3", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi2"
SUBSYSTEM=="tty", KERNELS=="1-1.4", ATTRS{idProduct}=="a4aa", ATTRS{idVendor}=="0525", SYMLINK+="ttypi1"
